<footer class="blog-footer">
	<ul class="list-inline social">
		<li>
            <a href="https://plus.google.com/u/0/+RyanMorrissey23" class="google"><i class="fa fa-fw fa-2x fa-google-plus-square"></i></a>
        </li>
		<li>
            <a href="https://www.linkedin.com/in/ryancmorrissey" class="linkedin"><i class="fa fa-fw fa-2x fa-linkedin-square"></i></a>
        </li>
		<li>
            <a href="https://github.com/rymoio" class="github"><i class="fa fa-fw fa-2x fa-github-square"></i></a>
        </li>
        <li>
            <a href="https://twitter.com/rymoio" class="twitter"><i class="fa fa-fw fa-2x fa-twitter-square"></i></a>
        </li>
		<li>
            <a href="mailto:{{ site.email }}" class="email"><i class="fa fa-fw fa-2x fa-envelope-square"></i></a>
        </li>
	</ul>
	<p>&copy; 2015 Ryan Morrissey. All rights reserved.</p>
</footer>