<div class="blog-nav">
    <nav>
        <!-- <ul class="nav nav-pills pull-right"> -->
        <ul class="nav masthead-nav pull-right">
            <li role="presentation">
                <a href="http://rymo.io/"><span class="hidden-xs">home</span><span class="visible-xs-block"><i class="fa fa-fw fa-home"></i></span></a>
            </li>
            <li role="presentation">
                <a href="http://rymo.io/about/"><span class="hidden-xs">about</span><span class="visible-xs-block"><i class="fa fa-fw fa-user"></i></span></a>
            </li>
            <li role="presentation" class="active">
                <a href="/"><span class="hidden-xs">blog</span><span class="visible-xs-block"><i class="fa fa-newspaper-o"></i></span></a>
            </li>
            <li role="presentation">
                <a href="http://apps.rymo.io/"><span class="hidden-xs">apps</span><span class="visible-xs-block"><i class="fa fa-fw fa-magic"></i></span></a>
            </li>
        </ul>
    </nav>
    <h3><a href="/"><span class="hidden-xs">blog.rymo.io</span><span class="visible-xs-block"><i class="fa fa-fw fa-arrow-circle-left"></i></span></a></h3>
</div>