<article class="blog-post">
    {% include post-icon.html %}
    <h1 class="blog-post-title"><a class="blog-post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>

    <!-- Start Meta -->
    <div class="row blog-post-meta">
        <div class="col-xs-6 col-sm-4">
            <!-- Start Date -->
            <i class="fa fa-fw fa-calendar"></i> {{ post.date | date: "%b %-d, %Y" }}
            <!-- End Date -->
        </div>

        <div class="col-xs-6 col-sm-4">
            <!-- Start Reading Time -->
            <i class="fa fa-fw fa-clock-o"></i> {{ post.content | reading_time }}
            <!-- End Reading Time -->
        </div>

        <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="clearfix visible-xs-block"></div>

        <div class="col-xs-6 col-sm-4">
            <!-- Start Disqus Count -->
            <div class="disqus-count"><i class="fa fa-fw fa-comments"></i> <a href="{{ post.url | append: '#disqus_thread' | prepend: site.baseurl }}" data-disqus-url="{{ post.url | prepend: site.baseurl }}" data-disqus-identifier="{{ post.id }}"></a></div>
            <!-- End Disqus Count -->
        </div>

        <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="clearfix visible-xs-block"></div>

        <!-- Start Tags -->
        {% if post.tags.size > 0 %}
        <div class="col-xs-12 col-sm-12">
            <i class="fa fa-fw fa-tag{% if post.tags.size > 1 %}s{% endif %}"></i>
            {% for tag in post.tags %}
            <a class="btn btn-default btn-xs" href="{{ site.tags.url }}{{ tag | slugify }}/" role="button">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
        <!-- End Tags -->
    </div>
    <!-- End Meta -->


    <!-- Start Excerpt -->
    <span class="blog-excerpt"><i class="fa fa-quote-left pull-left fa-border"></i></span> {{ post.excerpt }}
    <!-- End Excerpt -->

</article>