<!DOCTYPE html>
<html lang="en" manifest="http://blog.rymo.io/blog.appcache" type="text/cache-manifest">

<!-- Start Head -->
{% include head.html %}
<!-- End Head -->

<body>

	<!-- Start Container -->
	<div class="container">

		<!-- Start Navbar -->
		{% include nav.html %}
		<!-- End Navbar -->

		<!-- Start Row -->
		<div class="row">

			<!-- Start Main -->
			<div class="col-sm-8 blog-main">

				<!-- Start Content -->
				{{ content }}
				<!-- End Content -->

				<!-- Start Scroll -->
				{% include scrolltop.html %}
				<!-- End Scroll -->

			</div>
			<!-- End Main -->

			<!-- Start Sidebar -->
			{% include sidebar.html %}
			<!-- End Sidebar -->

		</div>
		<!-- End Row -->

	</div>
	<!-- End Container -->

	<!-- Start Footer -->
	{% include footer.html %}
	<!-- End Footer -->

	<!-- Start JavaScripts -->
	<script src="{{ "/assets/js/main.min.js" | prepend: site.baseurl }}"></script>
	<!-- End JavaScripts -->

	<!-- Start Disqus Count -->
	{% include disqus-count.html %}
	<!-- End Disqus Count -->

</body>
</html>