---
layout: default
---
<article class="blog-post">
    {% include post-icon.html %}
    <h2 class="blog-post-title">{{ page.title }}</h2>

    <!-- Start Meta -->
    <ul class="list-unstyled blog-post-meta">

        <!-- Start Date -->
        <li>
            <i class="fa fa-fw fa-calendar"></i> {{ page.date | date: "%b %-d, %Y" }}
        </li>
        <!-- End Date -->

        <!-- Start Tags -->
        {% if page.tags.size > 0 %}
        <li></li>
        <li>
            <i class="fa fa-fw fa-tag{% if page.tags.size > 1 %}s{% endif %}"></i>
            {% for tag in page.tags %}
            <a class="btn btn-default btn-xs" href="{{ site.tags.url }}{{ tag | slugify }}/" role="button">{{ tag }}</a>
            {% endfor %}
        </li>
        {% endif %}
        <!-- End Tags -->

    </ul>
    <!-- End Meta -->

    <!-- Start Content -->
    {{ content }}
    <!-- End Content -->

    {% comment %}
    <!-- Start Related Posts -->
    {% include post-related.html %}
    <!-- End Related Posts -->
    {% endcomment %}

</article>

<!-- Start Footer -->
{% include post-paginate.html %}
<!-- End Footer -->